---
// Props can be added here if needed
---
<footer class="text-base w-screen bg-zinc-800 text-white">
   <div class="m-auto flex flex-col flex-wrap items-center justify-start mx-12 px-sm py-8 md:px-md lg:flex-row lg:items-start lg:justify-between lg:px-lg xl:px-xl">
       <div class="mb-9 md:w-full lg:flex-[0_0_100%]">
           <a href="https://www.multiforce.com.tw" class="h-[2.875rem] lg:h-10" target="_blank">
            <div class="w-[200px] h-[46px]"> 
   
            <picture>
                   <source srcset="/images/layout/logo-white.webp" type="image/webp"><img src="/images/layout/logo-white.png" alt="multiFORCE" class="h-full w-auto object-contain">
               </picture>
            </div>
           </a>
       </div>
       <div class="text-stone-200 mb-9 flex w-full flex-col items-stretch justify-start border-white md:flex-row lg:mb-0 lg:flex-1 lg:border-r lg:pr-2.5 xl:ml-[3.5rem]">
           <div class="mb-9 h-full flex-1 md:mb-0 md:pr-4">
               <h6 class="mb-4 text-center">關於我們</h6>
               <div class="text-xs flex flex-col items-center">
                  <a href="https://www.multiforce.com.tw/web/about/about.jsp#about_in_01" class="mb-3 text-center duration-300 ease-easeInQuad will-change-transform hover:text-gray-400 lg:whitespace-nowrap" target="_blank">About Us 關於我們</a>
                  <a href="https://www.multiforce.com.tw/web/about/about.jsp#about_in_02" class="mb-3 text-center duration-300 ease-easeInQuad will-change-transform hover:text-gray-400 lg:whitespace-nowrap" target="_blank">AdTech 廣告科技</a>
                  <a href="https://www.multiforce.com.tw/web/about/about.jsp#about_in_03" class="mb-3 text-center duration-300 ease-easeInQuad will-change-transform hover:text-gray-400 lg:whitespace-nowrap" target="_blank">HybridData 數據核心</a>
                  <a href="https://www.multiforce.com.tw/web/about/history.jsp" class="mb-3 text-center duration-300 ease-easeInQuad will-change-transform hover:text-gray-400 lg:whitespace-nowrap" target="_blank">公司簡介</a>
               </div>
           </div>
           <div class="mb-9 h-full flex-1 md:mb-0 md:pr-4">
               <h6 class="mb-4 text-center">新知新訊</h6>
               <div class="text-xs flex flex-col items-center">
                  <a href="https://www.multiforce.com.tw/web/news/news.jsp?dm_id=DM1675393505178" class="mb-3 text-center duration-300 ease-easeInQuad will-change-transform hover:text-gray-400 lg:whitespace-nowrap" target="_blank">最新消息</a>
                  <a href="https://www.multiforce.com.tw/web/news/news.jsp?dm_id=DM1675393495881" class="mb-3 text-center duration-300 ease-easeInQuad will-change-transform hover:text-gray-400 lg:whitespace-nowrap" target="_blank">技術專欄</a>
               </div>
           </div>
           <div class="mb-9 h-full flex-1 md:mb-0 md:pr-4">
               <h6 class="mb-4 text-center">技術產品</h6>
               <div class="text-xs flex flex-col items-center">
                  <a href="https://www.multiforce.com.tw/web/product/product.jsp?cp_id=CP1675392188574" class="mb-3 text-center duration-300 ease-easeInQuad will-change-transform hover:text-gray-400 lg:whitespace-nowrap" target="_blank">Holmes 廣告系統</a>
                  <a href="https://www.multiforce.com.tw/web/product/product.jsp?cp_id=CP1675392088819" class="mb-3 text-center duration-300 ease-easeInQuad will-change-transform hover:text-gray-400 lg:whitespace-nowrap" target="_blank">multiFORCE 聯播網</a>
                  <a href="https://www.multiforce.com.tw/web/product/product.jsp?cp_id=CP1675392000892" class="mb-3 text-center duration-300 ease-easeInQuad will-change-transform hover:text-gray-400 lg:whitespace-nowrap" target="_blank">HybridData 混血數據</a></div>
           </div>
           <div class="mb-9 h-full flex-1 md:mb-0 md:pr-4">
               <h6 class="mb-4 text-center">商業合作</h6>
               <div class="text-xs flex flex-col items-center">
                  <a href="https://www.multiforce.com.tw/web/business/business.jsp?cp_id=CP1675387772119" class="mb-3 text-center duration-300 ease-easeInQuad will-change-transform hover:text-gray-400 lg:whitespace-nowrap" target="_blank">經銷商合作</a>
                  <a href="https://www.multiforce.com.tw/web/business/business.jsp?cp_id=CP1675387702067" class="mb-3 text-center duration-300 ease-easeInQuad will-change-transform hover:text-gray-400 lg:whitespace-nowrap" target="_blank">網站主合作</a>
                  <a href="https://www.multiforce.com.tw/web/business/business.jsp?cp_id=CP1675387584746" class="mb-3 text-center duration-300 ease-easeInQuad will-change-transform hover:text-gray-400 lg:whitespace-nowrap" target="_blank">數據合作</a>
                  <a href="https://www.multiforce.com.tw/web/business/business.jsp?cp_id=CP1684394320136" class="mb-3 text-center duration-300 ease-easeInQuad will-change-transform hover:text-gray-400 lg:whitespace-nowrap" target="_blank">雲端技術合作</a></div>
           </div>
           <div class="mb-9 h-full flex-1 md:mb-0 md:pr-4">
               <h6 class="mb-4 text-center">集團連結</h6>
               <div class="text-xs flex flex-col items-center">
                  <a href="https://www.clickforce.com.tw/index.php?lang=tw" class="mb-3 text-center duration-300 ease-easeInQuad will-change-transform hover:text-gray-400 lg:whitespace-nowrap" target="_blank">CLICKFORCE</a>
               </div>
           </div>
           <div class="mb-9 h-full flex-1 md:mb-0 md:pr-4">
               <h6 class="mb-4 text-center">聯絡我們</h6>
               <div class="text-xs flex flex-col items-center">
                  <a href="https://www.multiforce.com.tw/web/contact/contact.jsp" class="mb-3 text-center duration-300 ease-easeInQuad will-change-transform hover:text-gray-400 lg:whitespace-nowrap" target="_blank">線上表單</a>
               </div>
           </div>
           <div class="mb-9 h-full flex-1 md:mb-0 md:pr-4">
               <h6 class="mb-4 text-center">登入系統</h6>
               <div class="text-xs flex flex-col items-center">
                  <a href="https://login.holmesmind.com/zh" class="mb-3 text-center duration-300 ease-easeInQuad will-change-transform hover:text-gray-400 lg:whitespace-nowrap" target="_blank">Holmes Data</a>
                  <a href="https://login.holmesmind.com/zh" class="mb-3 text-center duration-300 ease-easeInQuad will-change-transform hover:text-gray-400 lg:whitespace-nowrap" target="_blank">Holmes Ads</a>
                  <a href="https://ssp.holmesmind.com/login" class="mb-3 text-center duration-300 ease-easeInQuad will-change-transform hover:text-gray-400 lg:whitespace-nowrap" target="_blank">Holmes Media</a>
               </div>
           </div>
           <div class="mb-9 h-full flex-1 md:mb-0 md:pr-4">
               <h6 class="mb-4 text-center">廣告格式</h6>
               <div class="text-xs flex flex-col items-center">
                  <a href="https://demopage.multiforce.com.tw/" class="mb-3 text-center duration-300 ease-easeInQuad will-change-transform hover:text-gray-400 lg:whitespace-nowrap" target="_blank">廣告格式</a>
               </div>
           </div>
       </div>
       <div class="flex flex-wrap items-start justify-start lg:ml-[3.5rem] lg:flex-[0_0_7.5rem] xl:flex-[0_0_10rem]">
           <a href="https://www.facebook.com/people/Clickforce-TIP/100064164452772/" class="mx-1.5 mb-2.5 flex h-10 w-10 items-center justify-center rounded-full border border-white" target="_blank">
               <picture>
                   <source srcset="/images/layout/icon_fb.webp" type="image/webp"><img src="/images/layout/icon_fb.png" alt="facebook" class="m-auto h-[65%] w-[65%] object-contain"></picture>
           </a>
           <a href="https://line.me/ti/p/~@yiw1947p" class="mx-1.5 mb-2.5 flex h-10 w-10 items-center justify-center rounded-circle border border-white" target="_blank">
               <picture>
                   <source srcset="/images/layout/icon_line.webp" type="image/webp"><img src="/images/layout/icon_line.png" alt="line" class="m-auto h-[65%] w-[65%] object-contain"></picture>
           </a>
           <a href="https://www.youtube.com/channel/UCZ-AqvlN4Lf8RRkaIlt-_lQ" class="mx-1.5 mb-2.5 flex h-10 w-10 items-center justify-center rounded-circle border border-white" target="_blank">
               <picture>
                   <source srcset="/images/layout/icon_yt.webp" type="image/webp"><img src="/images/layout/icon_yt.png" alt="youTube" class="m-auto h-[65%] w-[65%] object-contain"></picture>
           </a>
       </div>
   </div>
   <p class="text-xs m-auto w-[90%] py-5 text-center text-gray-400 lg:w-[80%] xl:w-[85%]"> © 2023&nbsp;<a href="home.jsp" target="_blank">Powered by CLICKFORCE.</a> All rights reserved. Web Design by <a href="https://www.geneinfo.com.tw" target="_blank">Greatest Idea Strategy Co.,Ltd</a></p>
</footer>

</body>
</html>
