---
// Props and JavaScript can be added here
---
<main class="container mx-auto px-6 mt-10">

<section class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 mb-10">
    <!-- Article 1 -->
    <div>
     <a href="https://cdn.holmesmind.com/dev/Mike/Pagination/Clickforce.html?cfadc=10230:207369" id="imageLink" target="_blank">
     <img alt="肌研極潤PREMIUM" class="w-full h-auto rounded-lg mb-4 image-button" src="/images/article-1-256x144.png"/>
     </a>
     <h2 class="text-xl font-semibold mb-2">
      肌研極潤PREMIUM
     </h2>
     <p class="text-gray-600 mb-2">
      樂敦製藥
     </p>
     <p class="text-gray-400">
      2024.01
     </p>
    </div>
    <!-- Article 2 -->
    <div>
     <a href="https://cdn.holmesmind.com/dev/Mike/Pagination/Clickforce.html?cfadc=10230:207348" id="imageLink" target="_blank">
     <img alt="水龍迎瑞好運佳瓷" class="w-full h-auto rounded-lg mb-4 image-button" src="/images/article-2-256x144.png"/>
     </a>
     <h2 class="text-xl font-semibold mb-2">
      水龍迎瑞好運佳瓷
     </h2>
     <p class="text-gray-600 mb-2">
      新東陽
     </p>
     <p class="text-gray-400">
        2024.01
    </p>
    </div>
    <!-- Article 3 -->
    <div>
     <a href="https://cdn.holmesmind.com/dev/Mike/Pagination/Clickforce.html?cfadc=10230:200740" id="imageLink" target="_blank">
     <img alt="古拉雪莉15年" class="w-full h-auto rounded-lg mb-4 image-button" src="/images/article-3-256x144.png"/>
     </a>
     <h2 class="text-xl font-semibold mb-2">
      古拉雪莉15年
     </h2>
     <p class="text-gray-600 mb-2">
      JURA
     </p>
     <p class="text-gray-400">
        2024.01
     </p>
    </div>
    <!-- Article 4 -->
    <div>
    <a href="https://cdn.holmesmind.com/dev/Mike/Pagination/Clickforce.html?cfadc=10230:201033" id="imageLink" target="_blank">
    <img alt="台茂購物中心" class="w-full h-auto rounded-lg mb-4 image-button" src="/images/article-4-256x144.png"/>
    </a>   
     <h2 class="text-xl font-semibold mb-2">
      2024煙火秀
     </h2>
     <p class="text-gray-600 mb-2">
        台茂購物中心
     </p>
     <p class="text-gray-400">
        2023.12
     </p>
    </div>
    <!-- Article 5 -->
    <div>
    <a href="https://cdn.holmesmind.com/dev/Mike/Pagination/Clickforce.html?cfadc=10230:202256" id="imageLink" target="_blank">
    <img alt="藍莓巧克力蛋糕捲" class="w-full h-auto rounded-lg mb-4 image-button" src="/images/article-5-256x144.png"/>
    </a>       
     <h2 class="text-xl font-semibold mb-2">
        藍莓巧克力蛋糕捲
     </h2>
     <p class="text-gray-600 mb-2">
      統一 7-ELEVEN
     </p>
     <p class="text-gray-400">
        2023.12
     </p>
    </div>
    <!-- Article 6 -->
    <div>
    <a href="https://cdn.holmesmind.com/dev/Mike/Pagination/Clickforce.html?cfadc=10230:202797" id="imageLink" target="_blank">
    <img alt="怪獸級特色唇彩" class="w-full h-auto rounded-lg mb-4 image-button" src="/images/article-6-256x144.png"/>
    </a>       
        
     <h2 class="text-xl font-semibold mb-2">
        怪獸級特色唇彩
     </h2>
     <p class="text-gray-600 mb-2">
        KATE 凱婷
    </p>
     <p class="text-gray-400">
      Sep 19, 2022 • 5 mins read
     </p>
    </div>
   </section>
   <!--
    <section class="text-center mb-10">
    <button class="bg-purple-600 text-white px-6 py-3 rounded-lg">
     See more articles
    </button>
   </section>
    -->
    <!-- 
   <section class="bg-purple-900 text-white rounded-lg flex justify-between items-center mb-10">
    <div class="flex-1">
     <h2 class="text-3xl font-bold mb-4 p-8">
      想進一步瞭解?
     </h2>
     <p class="p-8">
     提供各式廣告設計、H5動態素材製作、Resize、手繪風格設計等。讓廣告素材能夠在資訊爆炸的時代中，快速抓住消費者目光，以達到行銷目標。
     根據產品形象融合平台特性和用戶屬性製作最合適且吸睛的廣告素材。
     </p>
    </div>
    <div class="flex-initial">
     <img alt="Smiling woman in a business suit" class="mx-auto" src="/images/knowmore-portrait.png"/>
    </div>
   </section>
   -->
   <div class="flex flex-row items-center justify-between bg-purple-900 text-white rounded-lg">
    <div class="w-1/2 p-8">
     <h1 class="text-4xl font-semibold mb-4">
        想進一步瞭解?
     </h1>
     <p class="mb-6">
        提供各式廣告設計、H5動態素材製作、Resize、手繪風格設計等。讓廣告素材能夠在資訊爆炸的時代中，快速抓住消費者目光，以達到行銷目標。
        根據產品形象融合平台特性和用戶屬性製作最合適且吸睛的廣告素材。
     </p>
     <button class="bg-purple-700 hover:bg-purple-600 text-white font-bold py-2 px-4 rounded">
      聯絡我們
     </button>
    </div>
     <img alt="聯絡人像" class="rounded-r-lg" src="/images/knowmore-portrait.png"/>
   </div>
  </main>

  <script>
    document.addEventListener('DOMContentLoaded', function() {
        var imageLink = document.getElementById('imageLink');
        if (imageLink) {
            imageLink.addEventListener('click', function(event) {
                event.preventDefault(); // Prevent the default link behavior
                setTimeout(function() {
                    window.open(imageLink.href, '_blank');
                }, 300); // Delay for the "landing" animation
            });
        }
    });
  </script>

