---
import ReactArticleModal from '../components/ReactArticleModal.jsx';

const articles = [
    {
        id: 1,
        card_img: "/images/ad-1-256x144.png",
        card_title: "有Bar揪好玩",
        card_line_1: "KIRIN BAR BEER",
        card_line_2: "2024.01",
        modal_img: "/images/article-1-movie.gif",
        modal_title: "Mobile Cards 1",
        modal_description: "Mobile Cards appear at the bottom...",
        modal_device: "手機, PC",
        modal_barcodeImg: "/images/barcode-1-200x200.png"
    },
    {
        id: 2,
        card_img: "/images/ad-2-256x144.png",
        card_title: "品味迷人咖啡特調",
        card_line_1: "Nespresso",
        card_line_2: "Sep 19, 2022",
        modal_img: "/images/article-1-movie.gif",
        modal_title: "Mobile Cards 2",
        modal_description: "Mobile Cards appear at the bottom...",
        modal_device: "手機, PC",
        modal_barcodeImg: "/images/barcode-1-200x200.png"
    },
    {
        id: 3,
        card_img: "/images/ad-3-256x144.png",
        card_title: "睛漾水凝每日拋",
        card_line_1: "安視優",
        card_line_2: "2024.01",
        modal_img: "/images/article-1-movie.gif",
        modal_title: "Mobile Cards 3",
        modal_description: "Mobile Cards appear at the bottom...",
        modal_device: "手機, PC",
        modal_barcodeImg: "/images/barcode-1-200x200.png"
    },
    {
        id: 4,
        card_img: "/images/ad-4-256x144.png",
        card_title: "RZ 450e 充電金免費定保回饋",
        card_line_1: "LEXUS",
        card_line_2: "2023.12",
        modal_img: "/images/article-1-movie.gif",
        modal_title: "Mobile Cards 4",
        modal_description: "Mobile Cards appear at the bottom...",
        modal_device: "手機, PC",
        modal_barcodeImg: "/images/barcode-1-200x200.png"
    },
    {
        id: 5,
        card_img: "/images/ad-5-256x144.png",
        card_title: "午後の紅茶",
        card_line_1: "Kirin",
        card_line_2: "2023.12",
        modal_img: "/images/article-1-movie.gif",
        modal_title: "Mobile Cards 5",
        modal_description: "Mobile Cards appear at the bottom...",
        modal_device: "手機, PC",
        modal_barcodeImg: "/images/barcode-1-200x200.png"
    },
    {
        id: 6,
        card_img: "/images/ad-6-256x144.png",
        card_title: "光透潤熱銷",
        card_line_1: "肌研",
        card_line_2: "2024.01",
        modal_img: "/images/article-1-movie.gif",
        modal_title: "Mobile Cards 6",
        modal_description: "Mobile Cards appear at the bottom...",
        modal_device: "手機, PC",
        modal_barcodeImg: "/images/barcode-1-200x200.png"
    },
    {
        id: 7,
        card_img: "/images/ad-7-256x144.png",
        card_title: "收出你的樣子",
        card_line_1: "IKEA",
        card_line_2: "Sep 19, 2022",
        modal_img: "/images/article-1-movie.gif",
        modal_title: "Mobile Cards 7",
        modal_description: "Mobile Cards appear at the bottom...",
        modal_device: "手機, PC",
        modal_barcodeImg: "/images/barcode-1-200x200.png"
    },
];
---
<main class="container mx-auto px-6 mt-10">
    <section class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 mb-10">
    
        {articles.map((article) => (
            <ReactArticleModal key={article.id} article={article} client:visible/>
        ))}

    </section>
